<!doctype html>
<html>
<head>
  {% include header.html %}
  <link rel="stylesheet" href="/public/css/pygments.css">
</head>
<body>
{% include math_tex.html %}
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">
        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% include duoshuo.html %}
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>
</html>
